# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.idea/libraries/
.idea/modules.xml
workspace.xml
compiler.xml
